@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Rochester&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'PT Serif', serif; si
  //font-family: 'Noto Serif JP', serif !important;

}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  margin: 0px;
}


#brand {
  color:#FF6663;
  font-weight: 700 !important;
  font-family: 'Parisienne', cursive !important;
  font-size: 2em;
  letter-spacing: 0 !important;
}

#myNavbar{
  font-size: 1em !important;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('./imgs/marina-1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("./imgs/marina-3.jpg");
  min-height: 100%;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("./imgs/marina-2.jpg");
  min-height: 100%;
}

/* Video PArallax */
.bgvid-1 {
  min-height: 100%;
}

 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
  right: 0;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  margin:0px;
}

.w3-wide {letter-spacing: 10px;}

.w3-hover-opacity {cursor: pointer;}

.w3-card-4 {
  height: 300px;

}

.brands {
  background-color: #f1f1f1;
}

#btn-about {
  color: #f1f1f1 !important;
  background-color: #FF6663 !important;
  font-weight: 700 !important;
  opacity: 0.6;
}

#btn-about:hover {
  opacity: 1;
}

i {
  color: #FF6663 !important
}

.w3-content {
  max-width: 1200px;
}

#up-arrow {
  font-size: 60px;
  text-decoration: none;
  font-weight: 500;
  color: #FF6663 !important
}


#no-style {
  text-decoration: none;
}


#portfolio {
  background-color: #F2F2F2;
  margin-bottom: 2em;
}

#voz {
  background-color: white;
  margin-bottom: 2em;
}

#eventos {
  background-color: #F2F2F2;
  margin-bottom: 2em;
}

.titulo-portfolio h3{
  background-color: #FF6663;
  color: white;
  padding-left: 2em;
  padding-right: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.mobile {
  display: none;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1100px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }

  #myVideo {
    min-height: auto;
  }
}



@media(max-width:767px) {
  .mobile {
    display: block;
  }
  #home {
    display: none;
  }
  #titulo-text{
    font-size: 1.8em !important;
    font-weight: 300;
  }
  #about {
      display: flex;
      flex-wrap: wrap;
  }
  #about-text2 {
    order: 1;
  }
  #about-pic1 {
    order: 2;
  }
  #about-text3 {
    order: 3;
  }

}